/* add css module styles here (optional) */

button{
  padding: 7px 15px;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;

}
.primary{
  background-color: blue;
}
.dashed{
  border: 1px dashed black;
}

.text{
  border:none
}
.link{
  border: none;
  color: blue;
}
